<div class="clearfix mxn2">
  <div class="col sm-col-9 px2">
    <h3 class="mb2">About me</h3>
    <p>
      Experienced big data and software engineer with 8+ years of
      experience in the field of data science.
      Currently specializing in <b>deep learning</b>
      and <b>natural language processing</b> (NLP). For past years, I have
      extensively used frameworks of the big data stack. I am fluent in
      <b>Python</b> and R programming languages. I am seeking for career
      opportunities in the big data industry, where I can fully use my
      problem solving skills. I would like to work with projects oriented on
      the <i>"4 V's of data"</i>, as well as gain more experience with deep learning.
      Scientist and entrepreneur <i>Clive Humby</i> once said, that "Data is the
      new oil" - I share his opinion, that understanding data makes for
      tangible profits in modern organizations.
      For more info, check out my
      <a href="{{ site.nav.main.writing }}">writing</a>,
      <a href="{{ site.nav.main.speaking }}">speaking</a>,
      <a href="{{ site.nav.main.certs }}">certifications</a>,
      <a href="{{ site.nav.main.projects }}">projects</a>, and
      <a href="{{ site.nav.main.kaggle }}">Kaggle profile</a>.
    </p>  
  </div>
  <div class="col sm-col-3 px2">
    <h3 class="mb2">Contact</h3>
    {% include contact.html %}
  </div>  
</div>
